.grid-item {
  width: 25%;
}

.tile {
  margin-top: 28px;
}

.tile__img {
  width: 100%;
}

.tile-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  -ms-grid-rows: (50%)[2];
      grid-template-rows: repeat(2 50%);
}
